{% extends 'main.html' %}
{% block body %}

<head>

    <title>51 American CRM Admin | Edit Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=no" />

	<link rel="icon" href="/static/images/padel-racket-icon.jpg">



<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

</head>


<body>
    
    <div class="text-center">
        <hr>
            <h1 style="font-family: 'Trebuchet MS', sans-serif;text-align: center;color:tomato"><u>Edit Users</u></h1>
        <hr>
            <center>
                <button class="btn btn-info btn-md" data-toggle="modal" data-target="#add_user_modal">Add User</button>
            </center>
        <hr>
    </div>

    <table id="users_table" class="display" style="width:100%">

        <thead>

            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Scope</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

        </thead>

        <tfoot>

            <tr>
                <th>UserID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Scope</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>



    <script>

        function get_users_table() {

            //var table1 = $('#users_table').DataTable();
            //table1.destroy();
            console.log("Start");

            var table = $('#users_table').DataTable({
                ajax: { url: '/users?get_users', mimeType: 'json' },
                deferRender: true,
                columns: [
                    { data: 'user_id'},
                    { data: 'username'},
                    { 
                      
                      mRender: function (data, type, row) {
                        r1 = r2= ''
                        if(row.role=='admin'){ r1 = 'selected'}
                        else if (row.role=='staff'){ r2 = 'selected'}

                        return  '<select type="text" class="form-control" onchange="change_role(\''+row.user_id+'\', this.value)">\\\
                                  <option value="all" '+r1+'>Admin</option>\\\
                                  <option value="staff" '+r2+'>Staff</option>\\\
                                  </select>'
                        },

                    },

                    {

                mRender: function (data, type, row) {
                        a = b = c= ''
                        if(row.scope=='all'){ a = 'selected'}
                        else if (row.scope=='course'){ b = 'selected'}
                        else if (row.scope=='event'){ c = 'selected' }
                        return  '<select type="text" class="form-control" onchange="change_scope(\''+row.user_id+'\', this.value)">\\\
                                  <option value="all" '+a+'>All</option>\\\
                                  <option value="course" '+b+'>Course(American)</option>\\\
                                  <option value="event" '+c+'>Event</option>\\\
                                  </select>'
                        },

                    },

                    {
                        mRender: function (data, type, row) {
                            return '<div class="btn-group"> <button name="change_pass_btn" class="btn btn-primary" onclick="toggle_change_pass('+row.user_id+')">Change_Password</button> </div>'
                        },
                    },
                    {
                        
                        mRender: function (data, type, row) {
                            return '<div class="btn-group"> <button name="delete_user" class="btn btn-warning" onclick="delete_user('+row.user_id+')">Delete</button> </div>'
                        },
                    },
                    {
                        
                        mRender: function (data, type, row) {
                            role = "{{session['role']}}"
                            if (role == 'admin'){
                                return '<div class="btn-group"> <button name="profile" class="btn btn-info" onclick="run_profile(\''+row.username+'\')">Profile</button> </div>'
                            }
                            else
                            {
                                return ''
                            }
                            
                        },
                    },
                    {
                        
                        mRender: function (data, type, row) {
                            role = "{{session['role']}}"
                            if (role == 'admin'){
                                return '<div class="btn-group"> <button name="to_do" class="btn btn-danger" onclick="add_to_do_swal('+row.user_id+',\''+row.username+'\')">Assign_Task</button> </div>'
                            }
                            else
                            {
                                return ''
                            }
                            
                        },
                    }

                ],


                rowId: 'extn',
                select: true,
                paging: false,
                dom: 'Bfrtip',
                scrollX: true,
                select: false,
                "order": [[0, "desc"]]
/*                 buttons: [
                    'copy', 'excel',
                    {
                        text: 'Reload table',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        action: function () {
                            table.ajax.reload();
                        }
                    }
                ] */

            });

        }

    </script>



<script>
  async function add_to_do_swal(id,username)
  {
  const { value: text } = await Swal.fire({
input: 'textarea',
inputLabel: 'Assign Task',
inputPlaceholder: 'Type task here...',
inputAttributes: {
  'aria-label': 'Type task here'
},
showCancelButton: true
})

if (text) {
to_do = text
$.post('/add_to_do',{user_id:id,username:username,to_do:to_do}).done(function (response) {
  state = response.state
  if (state == 'success')
  {
      Swal.fire("","Task Added Successfully",'success')

  }
  else
  {
      Swal.fire("Sorry",'Something went wrong','error')
  }

})

}
else
{
  Swal.fire("Nothing Changed")
}
}
</script>

    <script>
        function run_profile(username_profile)
        {
            window.location.href= '/profile?username_profile='+username_profile
        }
    </script>


<script>

function add_user()
{
    var table = $('#users_table').DataTable();

    var user_name = document.getElementById('user_name').value;
    var password = document.getElementById('password').value;
    var user_type = document.getElementById('user_type').value;
    var scope = document.getElementById('scope').value;
        
    $.post("/users?add_user",{user_name:user_name, password:password, user_type:user_type, scope:scope}).done(function (response) {

    state = response.state;

    if (state == "success")
    {

        $('#user_name').val('');
        $('#password').val('');
        $('#user_type').val('');

        $("#add_user_modal .close").click();

        Swal.fire({
            icon: 'success',
            title: 'User Added...',
            showConfirmButton: false,
            timer: 1000});

        table.ajax.reload(); 
    }

    else if (state == "duplicate")
    {
        $('#user_name').val('');
        $('#password').val('');
        $('#user_type').val('');

        Swal.fire({
            icon: 'info',
            title: 'Username already exists...',
            showConfirmButton: false,
            timer: 1000});

        table.ajax.reload(); 
    }

    else if (state == "missing_fields")
    {
        $('#user_name').val('');
        $('#password').val('');
        $('#user_type').val('');

        Swal.fire({
            icon: 'info',
            title: 'Please Check missing Fields...',
            showConfirmButton: false,
            timer: 1000});

        table.ajax.reload(); 
    }

    else
    {
        $('#user_name').val('');
        $('#password').val('');
        $('#user_type').val('');

        $("#add_user_modal .close").click();

        Swal.fire({
            icon: 'error',
            title: 'Something went wrong, kindly refresh...',
            showConfirmButton: false,
            timer: 1500});

        table.ajax.reload();
    }
    });

}

</script>

<script>

    function delete_user(user_id)
    {
        var table = $('#users_table').DataTable();

        
        $.post("/users?delete_user",{user_id:user_id}).done(function (response) {
        
        state = response.state;
        
        if (state == "success")
        {
            Swal.fire({
                icon: 'success',
                title: 'User Deleted...',
                showConfirmButton: false,
                timer: 1000});
            table.ajax.reload(); 
        }
        else
        {
            Swal.fire({
                icon: 'error',
                title: 'Something went wrong, kindly refresh...',
                showConfirmButton: false,
                timer: 1500});
            table.ajax.reload();
        }
        });
                
    }
    
    </script>

<script>

function toggle_change_pass(userid)
        {
            //var table = $('#users_table').DataTable();

            $('#change_pass_modal').modal('show');
            $('#id').val(userid);
        }

function change_pass()
{
    var id = document.getElementById('id').value;
    var password = document.getElementById('password-field').value;
  
    $.post("/change_pass", { id: id, password: password }).done(function (response) {
  
      state = response.state;
      //console.log(state);
      if (state == "success") {
  
        Swal.fire(
          'Great',
          'Password Changed.',
          'success');
  
          $('#id').val('');
          $('#change_pass_modal').modal('hide');
            
      }

      else {
  
        setTimeout(() => {  location.reload(); }, 3000);
  
        $('#id').val('');
        $('#change_pass_modal').modal('hide');

        Swal.fire(
          'Sorry',
          'Something went wrong with while changing the password! reloading...',
          'error');
      }
  
    });
  
  }


  function onPassChange() {
    const password = document.querySelector('input[name=password-field]');
    const confirm = document.querySelector('input[name=password-checker]');
    if (confirm.value === password.value && confirm.value !== "" && password.value !== "") {

      
        confirm.setCustomValidity('');
        document.getElementById('submit-btn').disabled = false;
      
    } else {
      confirm.setCustomValidity('Passwords do not match !');
      confirm.reportValidity();
      document.getElementById('submit-btn').disabled = true;
    }
  }

  function checkPasslen()
  {

    const password = document.querySelector('input[name=password]');

    if( password.value.length < 8 && password.value.length == 7 )
      {
        password.setCustomValidity('Password must be at least 8 characters!');
        password.reportValidity();
        document.getElementById('add-user-submit-btn').disabled = true;
      }
      else{
        password.setCustomValidity('');
        document.getElementById('add-user-submit-btn').disabled = false;
      }
  }

  function checkTypeIsSelected()
  {


    const user_type = document.querySelector('select[name=user_type]');

    if( user_type.value.length == 0 )
      {
        user_type.setCustomValidity('Please select account type!');
        user_type.reportValidity();
        document.getElementById('add-user-submit-btn').disabled = true;
      }

      else{
        user_type.setCustomValidity('');
      }

    const user_name = document.querySelector('input[name=user_name]');

    if( user_name.value.length == 0 )
      {
        user_name.setCustomValidity('Please enter username!');
        user_name.reportValidity();
        document.getElementById('add-user-submit-btn').disabled = true;
      }

      else{
        user_name.setCustomValidity('');
      }

  }

  </script>


<script>

  function change_role(id,new_role)
  {
    console.log(new_role);

    $.post("/users?change_role", { id: id, new_role: new_role }).done(function (response) {
  
  state = response.state;
  //console.log(state);
  if (state == "success") {

    Swal.fire(
      'Great',
      'Role Changed.',
      'success');

      $('#users_table').DataTable().ajax.reload();        
  }

  else if (state == "unauthorzied") {

    Swal.fire(
      'Unauthorized',
      'Unable to perform this action.',
      'error');

      $('#users_table').DataTable().ajax.reload();
    
  }

  else {

    setTimeout(() => {  location.reload(); }, 3000);

    Swal.fire(
      'Sorry',
      'Something went wrong with while changing User Role! reloading...',
      'error');
  }

  });

}

</script>

<script>
  
  function change_scope(id,new_scope)
  {
    console.log(new_scope);

    $.post("/users?change_scope", { id: id, new_scope: new_scope }).done(function (response) {
  
  state = response.state;
  //console.log(state);
  if (state == "success") {

    Swal.fire(
      'Great',
      'Scope Changed.',
      'success');

      $('#users_table').DataTable().ajax.reload();        
  }

  else if (state == "unauthorzied") {

    Swal.fire(
      'Unauthorized',
      'Unable to perform this action.',
      'error');

      $('#users_table').DataTable().ajax.reload();
    
  }

  else {

    setTimeout(() => {  location.reload(); }, 3000);

    Swal.fire(
      'Sorry',
      'Something went wrong with while changing the scope! reloading...',
      'error');
  }

});

  }
</script>

<!-- Add User Modal -->
<div class="modal fade" id="add_user_modal" tabindex="-1" role="dialog" aria-labelledby="add_user_modal_Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userAddModalLongTitle">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- MODAL BODY -->
  
  
            <div class="user" id="add_user_div">
                
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="user_name" placeholder="Username" name="user_name" required>
                </div>

                <div class="form-group">
                    <label>User Type</label>
                    <select type="text" class="form-control" id="user_type" name="user_type" required>
                        <option value="" disabled selected>Choose User Type</option>
                        <option value="admin">Admin</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>

                <div class="form-group">
                  <label>User Scope</label>
                  <select type="text" class="form-control" id="scope" name="scope" required>
                      <option value="all" selected>All</option>
                      <option value="course">Course(American)</option>
                      <option value="event">Event</option>
                  </select>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Type Password" name="password" minlength="8" required onkeyup="checkPasslen()">
                </div>
  
              <button class="btn btn-success btn-user btn-block" id="add-user-submit-btn" name="add-user-submit-btn" disabled onmouseover="checkPasslen();checkTypeIsSelected();" onclick="add_user()">Add User</button>
  
            </div>
  
  
            <!-- MODAL BODY -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add User Modal -->


<!-- Change Password Modal -->
<div class="modal fade" id="change_pass_modal" tabindex="-1" role="dialog" aria-labelledby="change_pass_modal_Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- MODAL BODY -->
  
  
            <div class="user">
  
              <div class="form-group">
                <input type="text" class="form-control"  name="id" id="id" value="" disabled required>
              </div>
  
            </div>
  
            <div class="user" id="password_div">
                
              <div class="form-group">
                <input type="password" class="form-control" id="password-field" placeholder="Password" name="password-field" onchange="onPassChange()" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="password-checker" placeholder="Retype Password" name="password-checker" onchange="onPassChange()">
              </div>
  
              <button class="btn btn-success btn-user btn-block" id="submit-btn" name="submit-btn" disabled onmouseover="onPassChange()" onclick="change_pass()">Change Password</button>
  
            </div>
  
  
            <!-- MODAL BODY -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Change Password Modal -->
  

</body>

<script>
  $( document ).ready(function() {
    get_users_table();
  })
</script>


<script>
// Same drag-scroll, pinned first column, mobile card labels and search field
// as every other table in the app.
$(document).on('init.dt', function (e, settings) {
  if (settings.nTable && settings.nTable.id === 'users_table') crmEnhance('#users_table', { placeholder: 'Search users' });
});
</script>
{% endblock %}