{% extends 'main.html' %}
{% block body %}


<style>
    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #f2f3f7;
    }
   
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>

<body >


    <h1 style="font-family: 'Trebuchet MS', sans-serif;text-align: center;color:tomato"><u>Event Recall Date Table</u>
    </h1>
    </center>
    <br>



    <div class="card_customized" style="margin-left: 3%;margin-right: 3%;">
        <table id="recall_date_table" class="display" style="width:100%">

            <br>
            


                <br>
                <br>
                <br>
                <center>
                <div class="form-group">
                    <label for="exampleFormControlInput1"
                        style="font-weight: bold;;font-family: 'Trebuchet MS', sans-serif;font-size: 20px;">Date</label>
                    <input style="text-align:center;color:blue;width: 70%;background-color: white;width:30%" type="text" class="form-control"
                        id="recall_date" name="recall_date" readonly onchange="get_recall_date();">
                </div>
                <br>
                <br>
            </center>

                <script>
                    $('#recall_date').datepicker({
                      todayBtn: "linked",
                      weekStart: 0,
                      autoclose: true,
                      todayHighlight: true,
                      format: "yyyy-mm-dd",


        
                    });
                    
                    
                        var date = new Date();
                        

                    $('#recall_date').datepicker("endDate","today");
                    $('#recall_date').datepicker("setDate", date);

        
                    //console.log("A");
                  </script>
                <br>
                <br>
                <hr>
                <thead>

                    <tr>
                      <th>Assigned Username</th>
                        <th>Student ID</th>
                        <th>Student Mobile</th>
                        <th>Student Name</th>
                        <th>Done</th>

                        <th></th>
                    </tr>

                </thead>
                <tfoot>
                    <tr>
                       <th>Assigned Username</th>
                        <th>Student ID</th>
                        <th>Student Mobile</th>
                        <th>Student Name</th>
                        <th>Done</th>
                        <th></th>
                    </tr>
                </tfoot>
        </table>

    </div>


    <script>

        function get_recall_date() {
            
        $('#recall_date_table').DataTable().destroy();
       

            date = document.getElementById('recall_date').value;
            var table = $('#recall_date_table').DataTable({
                ajax: { url: '/get_recall_date_event?date='+date, mimeType: 'json' },
                deferRender: true,
                columns: [
                    { data: 'assigned_username' },
                    { data: 'client_id' },
                    { data: 'client_mobile' },
                    { data: 'client_name' },
                    {
                        
                        mRender: function (data, type, row) {
                            if (row.done == 'yes')
                            {
                                return '<label class="switch" style="margin-bottom: 0px;"> <input onchange="change_done_event('+row.client_id+')" type="checkbox"  checked> <span class="slider round"></span> </label>'
                            }
                            else
                            {
                                return '<label class="switch" style="margin-bottom: 0px;"> <input onchange="change_done_event('+row.client_id+')"  type="checkbox"> <span class="slider round"></span> </label>' 
                            }   
                        },
                    },
                    {
                        mRender: function (data, type, row) {

                               
                                    return '<div class="btn-group"><button id="add_notes" name="add_notes" class="btn btn-warning" value="Add Notes" onclick="add_notes_swal('+row.client_id+','+row.client_mobile+')"> Add Notes </button><button id="visit_profile" name="visit_profile" class="btn btn-info" value="Profile" onclick="window.location.assign(\'/update_event_lead?client_data='+row.client_id+' - '+row.client_mobile+' - '+row.client_name+'\');">Profile</button></div>';

                                
                            


                        },
                    }



                ],


                rowId: 'extn',
                select: true,
                paging: false,
                dom: 'Bfrtip',
                scrollX: true,
                select: false,
                "order": [[3,"desc"]],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print',
                    {
                        text: 'Reload table',
                        exportOptions: {
                            columns: [0, 1, 2]
                        },
                        action: function () {
                            table.ajax.reload();
                        }
                    }
                ]

            });


        }

    </script>


<script>
    async function add_notes_swal(id,client_mobile)
    {
    const { value: text } = await Swal.fire({
  input: 'textarea',
  inputLabel: 'Notes',
  inputPlaceholder: 'Type your notes here...',
  inputAttributes: {
    'aria-label': 'Type your message here'
  },
  showCancelButton: true
})

if (text) {
  notes = text
  $.post('/add_notes_recall_event',{client_id:id,client_mobile:client_mobile,notes:notes}).done(function (response) {
    state = response.state
    if (state == 'success')
    {
        Swal.fire("","Event Notes Added Successfully",'success')

    }
    else
    {
        Swal.fire("Sorry",'Something went wrong','error')
    }

  })
  
}
else
{
    Swal.fire("Nothing Changed")
}
}
</script>


<script>
function change_done_event(client_id)
{

  $.post('/change_done_event',{client_id:client_id}).done(function (response) {

    state = response.state
    if (state == 'success')
    {
      console.log("done")
      var table = $('#recall_date_table').DataTable()
      table.ajax.reload()
    }
    else
    {
      table.ajax.reload()
      swal.fire("Sorry","Something Went Wrong","error")
    }

  })
}


  </script>



<script>
 $( document ).ready(function() {
  get_recall_date();
})
</script>



</body>

{% endblock %}